body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vb;
}

#divMain{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 400px;
    border: solid 1px black;
    justify-content:start;
    align-items: start;
    box-shadow: 0px 7px 22px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 22px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 22px -3px rgba(0,0,0,0.75);
    border-radius: 3px;
}

#citas{
    border: solid 1px black;
    width: 550px;
    height: 100%;
    padding: 15px 30px;
}

#citas h4{
    text-align: center;
}

#calendario{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;

}

.first-day{
    grid-column-start: 5;
}

.day-name{
    background-color: #f3f3f3;
    padding: 3px 0px;
}

#mes{
    text-align: center;
}

.flecha{
    width: 15px;
}

#info{
    border: solid 1px black;
    width: 50%;
    height: 100%;
    padding: 15px 30px;
    z-index: 1;
}

.no-show{
    display: none;
}