
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.pngs{
  width: 25px;
  padding: 0px 5px;
}

main{
  background-color: #E6F5D9;
}

.divContacto{
  
  background-color: #69B1EA;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.divContacto div{
    display: flex;  
    align-items: center;
}


.Header{
  background-color: #0F79CD;
  margin: 0;
  padding: 0;
}

.divHeader {
  display: flex;
  justify-content: space-between; /* Distribuir el espacio entre los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  color: #fff;
  margin: 0% 10%;
  width: 80%;
  height: 80px;
}

#contNav{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}


nav{
  width: 100%;

}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.menuItem {
  margin-left: 10px; /* Espacio entre elementos del menú (ajusta según tus necesidades) */
  padding: 5px 5px;
  transition: 20;
  border-bottom: 3px solid #0F79CD;
}

.menuItem:hover{
  border-bottom: 3px solid #69B1EA;
}

a {
  color: #fff;
  text-decoration: none;
}

main{
    margin: 0;
    padding: 0;
}

#editor a{
    color:black;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#editor{
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*******/



#presentacion{
  margin: 0;
  background-color: #E4F8D2;
  color: #000;
  height: 400px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-evenly;
}

#textoPresentacion{
    padding: 20px 80px;
}

#textoPresentacion h2{
    padding: 0px 0px 10px 0px;
    margin: 0;
    font-size: 30px;
}

#presentacion img{
    width: 500px;
}

#contenedor{
  display: flex;
  align-items: center;

}

#documentos table{
 
  border: 1px solid blue;
}

#compartirDoc{
  display: none;
}
#compartir{
  display: none;
}
#borrar{
  display: none;
}

#formulario{
  display: none;
}

.formularioActivo{
  display: inline !important;
  z-index: 999999;
  position: fixed;
}

input[type="radio"] {
  display: none; /* Ocultar los checkboxes por defecto */
}

/* Estilo para la etiqueta que envuelve al checkbox */
label.labelHora {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #333;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}

label.labelHoraDes {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #c3c3c3;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #c3c3c3;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}

/* Cambiar el color de fondo cuando el checkbox está marcado */
input[type="radio"]:checked + label.labelHora {
  background-color: #2980b9;
}
