
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.pngs{
  width: 25px;
  padding: 0px 5px;
}

main{
  background-color: #E6F5D9;
}

.divContacto{
  
  background-color: rgba(179, 230, 135, 1);
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.divContacto div{
    display: flex;  
    align-items: center;
}


.Header{
  background-color: #6DE105;
  margin: 0;
  padding: 0;
}

.divHeader {
  display: flex;
  justify-content: space-between; /* Distribuir el espacio entre los elementos */
  align-items: center; /* Centrar verticalmente los elementos */
  color: #fff;
  margin: 0% 10%;
  width: 80%;
  height: 80px;
}

#contNav{
  width: 100%;
  height: 100%;
  border: solid 1px black;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}


nav{
  width: 100%;

}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.menuItem {
  margin-left: 10px; /* Espacio entre elementos del menú (ajusta según tus necesidades) */
  padding: 5px 5px;
  transition: 20;
}

.menuItem:hover{
  background-color: #698a4d;
}

a {
  color: #fff;
  text-decoration: none;
}

main{
    margin: 0;
    padding: 0;
}

#presentacion{
  margin: 0;
  background-color: #E4F8D2;
  color: #000;
  height: 400px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-evenly;
}

#textoPresentacion{
    padding: 20px 80px;
}

#textoPresentacion h2{
    padding: 0px 0px 10px 0px;
    margin: 0;
    font-size: 30px;
}

#presentacion img{
    width: 500px;
}
