@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/Nunito_sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans';
  width: 100%;
  height: 100%;

}

.pngs{
  width: 18px;
  padding: 0px 5px;
}

main{
  background-color: #E6F5D9;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}



/*Header superior*/
.flex-container{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #69B1EA;
  height: 40px;
}

.divContacto{
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
}

.divContacto div{
    display: flex;  
    align-items: center;
}

.divContacto span{
  font-weight:bold ;
  font-size: 14px;
}

/*Header 2*/

.Header{
  background-color: #0F79CD;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.divHeader {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  color: #fff;
  margin: 0% 10%;
  max-width: 1440px;
  height: 80px;
}

.login{
  font-size: 16px;
  font-weight: 500;
}

#contNav{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}


nav{
  width: 100%;

}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.menuItem {
  margin-left: 10px; 
  padding: 5px 5px;
  transition: 20;
  border-bottom: 3px solid #0F79CD;
}

.menuItem:hover{
  border-bottom: 3px solid #69B1EA;
}

/*SubMenu*/

.sub-container{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 35px;
  background-color: #69B1EA;
}

.subMenu {
  display: flex;
  justify-content: flex-end;
  margin: 0% 10%;
  width: 100%;
  max-width: 1440px;
}

.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  bottom: 0;

}

.submenuItem {
  margin-left: 10px; 
  padding: 5px 5px;
  transition: 20;
  border-bottom: 3px solid #69B1EA ;
}

.submenuItem:hover{
  border-bottom: 3px solid #0F79CD;
}

/*Login*/

#linkLogUp{
  color: #777777;
}











/*************/
#presentacion{
  margin: 0;
  background-color: #E4F8D2;
  color: #000;
  height: 400px;
  padding: 60px 80px;
  display: flex;
  justify-content: space-evenly;
}

#textoPresentacion{
    padding: 20px 80px;
}

#textoPresentacion h2{
    padding: 0px 0px 10px 0px;
    margin: 0;
    font-size: 30px;
}

#presentacion img{
    width: 500px;
}

#contenedor{
  display: flex;
  align-items: center;

}

#documentos table{
 
  border: 1px solid blue;
}

#compartirDoc{
  display: none;
}
#compartir{
  display: none;
}
#borrar{
  display: none;
}

#formulario{
  display: none;
}

.formularioActivo{
  display: inline !important;
  z-index: 999999;
  position: fixed;
}

input[type="radio"] {
  display: none; /* Ocultar los checkboxes por defecto */
}

/* Estilo para la etiqueta que envuelve al checkbox */
label.labelHora {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #333;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}

label.labelHoraDes {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #c3c3c3;
  border-radius: 5px;
  background-color: #f3f3f3;
  color: #c3c3c3;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}

/* Cambiar el color de fondo cuando el checkbox está marcado */
input[type="radio"]:checked + label.labelHora {
  background-color: #2980b9;
}